body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  font-family: 'Barlow', sans-serif;
  height: 4000px;
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
}

input[type=checkbox]:checked,
input[type=checkbox]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banners {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
  
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}