@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  font-family: 'Barlow', sans-serif;
  height: 4000px;
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
}

input[type=checkbox]:checked,
input[type=checkbox]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banners {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
  
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.botao-padrao {
  background-color: var(--marrom-claro);
  color: #000000;
}

.botao-padrao:hover {
  background-color: var(--marrom-escuro);
}

.input-range::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}

footer {
  background-color: var(--marrom-claro);
}

[data-bs-theme="dark"] {
  color: #ffffff;
  .nav-link, .card, .offcanvas, .accordion {
    --bs-nav-link-color: #ffff;
    --bs-body-color: #ffff;
    --bs-offcanvas-color: #ffff;
    --bs-body-color:#ffff;
  }

}